<%- include('./partials/head') %> 
<div class="container p-5 shadow mt-5 mb-5">
    <div class="container p-3 shadow lPage row mt-3 mb-5">
        <div class="  img-thumbnails border-2 border-danger col  p-1 ">
            <img src="/images/images2.jfif" alt="" class="img-thumbnails rounded float-start" >
        <!-- </div> -->
        <!-- <div class=" border img-thumbnails border-2 border-danger col-5 m-0 p-0"> -->
            <img src="/images/images2.jfif" alt=""  class=" img-thumbnails rounded float-end">
            <img src="/images/images1.jfif" alt=""  class=" img-thumbnails rounded mx-auto d-block">
        </div>
    </div>
</div>
<%- include('./partials/footer') %> 