<%- include('./partials/head') %> 
<!-- <%= Math.random() %>  -->
<div class="container  justify-content-center  p-5">
    <div class="container border  border-2 bg-warning rounded-pill mx-auto w-75 shadow">
        <h1 class="text-danger text-center">Log In</h1>
        <div class="container p-3 mx-auto border-start border-danger border-end shadow w-75">
            <input type="email" placeholder="Enter your email" class="form-control my-2">
            <input type="password" placeholder="Enter your password" class="form-control my-2">
            <input type="button" value="Login" class="btn btn-outline-danger text-light my-2" placeholder="Enter your password" class="form-control my-2">
        </div>
    </div>
</div>




<!-- <%- include('./partials/footer') %>  -->
